<mat-toolbar color="primary">
    <span class="fill-remaining-space">
      <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger"
        (mouseover)="menuTrigger.openMenu()">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <span (mouseleave)="menuTrigger.closeMenu()">
          <a routerLink="/" routerLinkActive="active">
            <button mat-menu-item>
              <mat-icon>movie_creation</mat-icon>
              <span>Peliculas</span>
            </button>
          </a>
        </span>
      </mat-menu>
    </span>
    <span class="fill-remaining-space">D.Cartelera</span>
  </mat-toolbar>
  <br>