<!-- COMO ERA LA ESTRUCTURA PREVIA -->

<!-- <div class="lessons-table mat-elevation-z8">


  <input class="input-peliculas" type="text" name="busqueda" [(ngModel)]="busquedaPelicula"
    placeholder="Informacion de la Pelicula">
  <mat-card class="card" *ngFor="let pelicula of obs | async | filter: busquedaPelicula ">
    <mat-card-header>
      <div class="header-image"></div>
      <mat-card-title>{{pelicula.TITLE}}</mat-card-title>
      <mat-card-subtitle>{{pelicula.SUBTITLE}}</mat-card-subtitle>
    </mat-card-header>
    <img loading="lazy" #image mat-card-xl-image [src]="pelicula.POSTER" onError="this.src='../../assets/NaN.jpg'"
      alt="{{pelicula.TITLE}}">
    <mat-card-content>
      <p>
        {{pelicula.SUMMARY}}
      </p>
    </mat-card-content>
  </mat-card>


  <mat-paginator #paginator [pageSize]="50" [pageSizeOptions]="[50, 100, 200]" [showFirstLastButtons]="true">
  </mat-paginator>
</div> -->


<input class="input-peliculas" type="text" name="busqueda" [(ngModel)]="busquedaPelicula"
  placeholder="Pon algo de la peli que buscas">
<!-- Libreria para realizar el order by: https://github.com/solodynamo/ng2-search-filter -->

<div class="container-parent">
  <a class="anchor-details" routerLink="/p/{{pelicula.ID_PELICULA}}" routerLinkActive="active"
    *ngFor="let pelicula of obs | async | filter: busquedaPelicula | orderBy: 'TITLE'" style="text-decoration: none;">
    <div class="container-card">
      <!-- el orderBy: https://github.com/VadimDez/ngx-order-pipe -->
      <div class="image">
        <div class="poster">
          <img loading="lazy" [src]="pelicula.POSTER" onError="this.src='assets/NaN.jpg'"
            (error)="errorImgNotLoading(pelicula)" alt="{{pelicula.TITLE}}">
        </div>
      </div>

      <div class="details">
        <div class="wrapper-details">
          <div class="title">
            <div>
              <h2>{{pelicula.TITLE}}</h2>
            </div>
            <h4>({{pelicula.YEAR}}) [{{pelicula.GENRES}}]</h4>
            <h4>{{pelicula.SUBTITLE}}</h4>
          </div>
        </div>
      </div>
      <br>
    </div>
  </a>
</div>

<!-- PAGINACION -->
<!-- <mat-paginator #paginator [pageSize]="50" [pageSizeOptions]="[50, 100, 200]" [showFirstLastButtons]="true">
</mat-paginator> -->