.input-peliculas {
  position: relative;
  box-sizing: border-box;
  margin: 150px auto 0;
  margin: auto;
  border: 0;
  border: 2px solid #1976D2;
  width: 100%;
  font-size: 30px;
  line-height: 35px;
  height: 70px;
  text-align: center;
  padding: 10px;
  background: transparent;
  /* color: #BBDEFB; */
}

.container-parent {
  margin-top: 20px;
  --imageBorderRadius: 8px;
}

.container-card {
  margin-top: 20px;
  display: flex;
  /* max-width: calc(100vw - 82px); */
  /* display: flex; */
  /* max-width: calc(100vw - 82px); */
  /* width: 100%; */
  /* display: flex; */
  /* border-radius: var(--imageBorderRadius); */
  /* overflow: hidden; */
}


.container-card h4 {
  white-space: nowrap;
  color: #999;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1em;
}

.image {
  min-width: 188px;
  width: 188px;
  height: 282px;

}

img {
  display: block;
  min-width: 100%;
  width: 100%;
  height: 100%;
  border-radius: 5% 0 0 5%;
}

.poster {
  width: 100%;
  height: 100%;
}

.details {
  min-width: 800px;
  max-width: 100%;
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  border: 1px solid #999;
  border-left: 0;
}

.wrapper-details {
  display: flex;
  align-items: center;
  width: 100%;
}

.title {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  overflow: hidden;


  font-size: 1em;
  line-height: 1em;
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;

  box-sizing: border-box;
  line-height: 100%;
  display: inline-block;

  margin: 0 0 4px 0;
  margin-bottom: 4px;
  /* font-weight: 600; */

  padding: 0;
  box-sizing: border-box;
}

a.anchor-details:link {
  text-decoration: inherit;
  color: inherit;
  /* cursor: auto; */
}

a.anchor-details:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}