<mat-card class="movie-card">
    <mat-card-header>
        <div mat-card-avatar class="avatar"></div>
        <mat-card-title>{{pelicula?.TITLE}}</mat-card-title>
        <mat-card-subtitle>{{pelicula?.SUBTITLE}}</mat-card-subtitle>
        <mat-card-subtitle>{{pelicula?.GENRES}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image loading="lazy" [src]="pelicula?.POSTER" onError="this.src='../../assets/NaN.jpg';"
        alt="pelicula?.TITLE">
    <mat-card-content>
        <p>
            {{pelicula?.SUMMARY}}
        </p>
        <mat-chip-list style="margin-top:10px; display: flex; justify-content: center;" aria-label="Fish selection">
            <mat-chip color="primary" selected>
                {{pelicula?.RATING}}
            </mat-chip>
            <mat-chip color="primary" selected>
                {{pelicula?.COUNTRIES}}
            </mat-chip>
            <mat-chip color="primary" selected>
                {{ pelicula?.ORIGINALLY_AVALAIBLE_AT | fechaPeliculas}} </mat-chip>
        </mat-chip-list>
        <div class="return-home">
            <button mat-mini-fab aria-label="return home" routerLink="/">
                <mat-icon>home</mat-icon>
            </button>
        </div>
    </mat-card-content>
</mat-card>